!!!
%html
  %head
    %title SimpleTextBlog
  %body
    %header
      %h1 Welcome to my simple blog.
    %section
      - @articles.each do |article|
        %header
          %h2
            %a{ :href => article.path }= article.title
        %article= article.body
